@import 'node_modules/normalize.css/normalize';

$gutter-width: 30px;
$color: #c8c8c8;
$background: #222;

html,
body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background: $background;
    color: $color;
    padding: 0 $gutter-width;
}

a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}

a.button {
    padding: ($gutter-width / 4);
    border: 1px solid $color;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    background: darken($background, 5%);
    color: $color;
    transition: background-color 0.3s;

    &:hover {
        text-decoration: none;
        background: lighten($background, 5%);
    }

    &.active {
        background: lighten($background, 10%);
    }
}

h1 {
    margin: ($gutter-width / 2) 0;
}

#site-title {
    line-height: 40px;

    a:hover {
        text-decoration: none;
    }

    img {
        height: 90px;
        margin: -10px 0 (10px + 40px - 90px);
        vertical-align: middle;
    }
}

h2.title {
    margin-top: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

header {
    background: #343a40;
    padding: 0 9999px;
    margin: 0 -9999px $gutter-width;
    box-shadow: 5px 5px 8px 3px rgba(#000, 0.6);

    > .wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            flex-flow: row nowrap;

            a {
                margin-left: $gutter-width;
            }
        }
    }
}

main nav {
    margin-bottom: ($gutter-width / 2);
}

main .sidebar {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: start;

    aside {
        margin-left: $gutter-width;
        flex: 0 0 25%;
    }
}

#chartcontainer {
    margin-bottom: $gutter-width;
}

table.stats {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background: #212529;
    margin-bottom: $gutter-width;

    &.small {
        table-layout: auto;
        width: auto;
    }

    tr:nth-child(2n) {
        background: rgba(#FFF, 0.05);
    }

    td, th {
        padding: ($gutter-width / 4) ($gutter-width / 2);
        border-bottom: 1px solid #32383e;
    }

    th {
        text-align: left;
        white-space: nowrap;

        &.tw10 {
            width: 10%;
        }
        &.tw15 {
            width: 15%;
        }
        &.tw25 {
            width: 25%;
        }
        &.tw50 {
            width: 50%;
        }
    }

    td {
        text-align: right;

        &.text {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.steamlogo {
    height: 30px;
    vertical-align: top;
    margin: -7px 5px -20px 0;
}

.playerstats {
    margin: 0 (-($gutter-width / 2)) $gutter-width;

    > .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: start;

        > div {
            flex: 1 0 0;
            padding: 0 ($gutter-width / 2);
        }
    }

    table.stats {
        margin-bottom: 1em;
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: ($gutter-width / 2) 0;
}
