<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <title>{% if title is not empty %}{{ title }} | {% endif %}HoldGrip</title>
    <link rel="stylesheet" type="text/css" href="/style.css?{{ stylehash }}">
</head>
<body>
    <header>
        <div class="wrapper">
            <h1 id="site-title"><a href="/"><img src="/logo.png"> HoldGrip</a></h1>
            <nav>
                <a href="/sprint">Sprint</a>
                <a href="/challenge">Challenge</a>
                <a href="/stunt">Stunt</a>
            </nav>
        </div>
    </header>

    <div class="wrapper">
        {%- block content %}{% endblock -%}
    </div>

    <footer>
        <div class="wrapper">
            Made by JnvSor, hosted by Seekr
        </div>
    </footer>
</body>
